/**
 * Plugin Name: Hubspot CTAutomagic
 * Plugin URI: https://bitbucket.org/danielwolf5/hubspot-cta-tag-matcher-wordpress-plugin
 * Description: This wordpress plugin will add calls to action from hubspot based on tags.
 * Version: 1.0
 * Author: Daniel Wolf
 * Author URI: https://bitbucket.org/danielwolf5
 * License: MIT
 */

#hctm-container {
    background: #fff;
    padding: 25px;
    margin: 20px 20px 20px 0;
    border: 1px solid #ddd;
    min-width: 1050px;
}
#hctm-form td {
    vertical-align: top;
}
#hctm-form table {
    width: 1050px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#hctm-form textarea {
    width: 300px;
    height: 55px;
}
#hctm-form .form-table th {
    text-align: center;
}